﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <!-- Bootstrap CSS-->
    <link href="~/Content/Navbar/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS-->
    <link href="~/Content/Navbar/font-awesome.min.css" rel="stylesheet" />
    <!-- Google fonts - Roboto -->
    <link href="~/Content/Navbar/roboto.css" rel="stylesheet" />
    <!-- owl carousel-->
    <link href="~/Content/Navbar/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Navbar/owl.theme.default.css" rel="stylesheet" />
    <!-- theme stylesheet-->
    <link href="~/Content/Navbar/style.default.css" rel="stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link href="~/Content/Navbar/custom.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar-->
    <header class="header mb-5">
        <!--
        *** TOPBAR ***
        _________________________________________________________
        -->
        <div id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <ul class="menu list-inline mb-0">
                            <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            <li class="list-inline-item"><a href="@Url.Action("Register", "Account", new { area = "User" })">Register</a></li>
                            <li class="list-inline-item"><a href="@Url.Action("Index", "Contact", new { area = "User" })">Contact</a></li>
                            <li class="list-inline-item"><a href="#">Recently viewed</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Customer login</h5>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("ListOrder", "Order", new { area = "User" })" method="post">
                                <div class="form-group">
                                    <input id="email-modal" type="text" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="password-modal" type="password" placeholder="password" class="form-control">
                                </div>
                                <p class="text-center">
                                    <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                </p>
                            </form>
                            <p class="text-center text-muted">Not registered yet?</p>
                            <p class="text-center text-muted"><a href="@Url.Action("Register", "Account", new { area = "User" })"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** TOP BAR END ***-->
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="@Url.Action("Index", "Home", new { area = "User" })" class="navbar-brand home"><img src="~/Content/img/logo.png" alt="Obaju logo" class="d-none d-md-inline-block"><img src="~/Content/img/logo-small.png" alt="Obaju logo" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                    <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="@Url.Action("Index", "Basket", new { area = "User" })" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div id="navigation" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                        <li class="nav-item dropdown menu-large">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Men<b class="caret"></b></a>
                            <ul class="dropdown-menu megamenu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Clothing</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">T-shirts</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Shirts</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Pants</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Accessories</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Shoes</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Accessories</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Featured</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown menu-large">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Ladies<b class="caret"></b></a>
                            <ul class="dropdown-menu megamenu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Clothing</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">T-shirts</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Shirts</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Pants</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Accessories</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Shoes</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Accessories</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Casual</a></li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Trainers</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Sandals</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Hiking shoes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="banner"><a href="#"><img src="~/Content/img/banner.jpg" alt="" class="img img-fluid"></a></div>
                                            <div class="banner"><a href="#"><img src="~/Content/img/banner2.jpg" alt="" class="img img-fluid"></a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown menu-large">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Template<b class="caret"></b></a>
                            <ul class="dropdown-menu megamenu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Shop</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Home", new { area = "User" })" class="nav-link">Homepage</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Category", new { area = "User" })" class="nav-link">Category - sidebar left</a></li>
                                                <li class="nav-item"><a href="category-right.html" class="nav-link">Category - sidebar right</a></li>
                                                <li class="nav-item"><a href="category-full.html" class="nav-link">Category - full width</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Detail", new { area = "User" })" class="nav-link">Product detail</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>User</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Register", "Account", new { area = "User" })" class="nav-link">Register / login</a></li>
                                                <li class="nav-item"><a href="@Url.Action("ListOrder", "Order", new { area = "User" })" class="nav-link">Orders history</a></li>
                                                <li class="nav-item"><a href="@Url.Action("OrderDetail", "Order", new { area = "User" })" class="nav-link">Order history detail</a></li>
                                                <li class="nav-item"><a href="@Url.Action("WishList", "Account", new { area = "User" })" class="nav-link">Wishlist</a></li>
                                                <li class="nav-item"><a href="@Url.Action("UserInfo", "Account", new { area = "User" })" class="nav-link">Customer account / change password</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Order process</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("Index", "Basket", new { area = "User" })" class="nav-link">Shopping cart</a></li>
                                                <li class="nav-item"><a href="@Url.Action("FirstStep", "Checkout", new { area = "User" })" class="nav-link">Checkout - step 1</a></li>
                                                <li class="nav-item"><a href="@Url.Action("SecondStep", "Checkout", new { area = "User" })" class="nav-link">Checkout - step 2</a></li>
                                                <li class="nav-item"><a href="@Url.Action("ThirdStep", "Checkout", new { area = "User" })" class="nav-link">Checkout - step 3</a></li>
                                                <li class="nav-item"><a href="@Url.Action("FinalStep", "Checkout", new { area = "User" })" class="nav-link">Checkout - step 4</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Pages and blog</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="@Url.Action("ListBlog", "Blog", new { area = "User" })" class="nav-link">Blog listing</a></li>
                                                <li class="nav-item"><a href="@Url.Action("BlogDetail", "Blog", new { area = "User" })" class="nav-link">Blog Post</a></li>
                                                <li class="nav-item"><a href="@Url.Action("FAQ", "Contact", new { area = "User" })" class="nav-link">FAQ</a></li>
                                                <li class="nav-item"><a href="text.html" class="nav-link">Text page</a></li>
                                                <li class="nav-item"><a href="text-right.html" class="nav-link">Text page - right sidebar</a></li>
                                                <li class="nav-item"><a href="404.html" class="nav-link">404 page</a></li>
                                                <li class="nav-item"><a href="@Url.Action("Index", "Contact", new { area = "User" })" class="nav-link">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-buttons d-flex justify-content-end">
                        <!-- /.nav-collapse-->
                        <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
                        <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="@Url.Action("Index", "Basket", new { area = "User" })" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>3 items in cart</span></a></div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="search" class="collapse">
            <div class="container">
                <form role="search" class="ml-auto">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <!-- Navbar -->

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!--
    *** FOOTER ***
    _________________________________________________________
    -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Pages</h4>
                    <ul class="list-unstyled">
                        <li><a href="text.html">About us</a></li>
                        <li><a href="text.html">Terms and conditions</a></li>
                        <li><a href="@Url.Action("FAQ", "Contact", new { area = "User" })">FAQ</a></li>
                        <li><a href="@Url.Action("Index", "Contact", new { area = "User" })">Contact us</a></li>
                    </ul>
                    <hr>
                    <h4 class="mb-3">User section</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                        <li><a href="@Url.Action("Register", "Account", new { area = "User" })">Regiter</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Top categories</h4>
                    <h5>Men</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">T-shirts</a></li>
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">Shirts</a></li>
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">Accessories</a></li>
                    </ul>
                    <h5>Ladies</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">T-shirts</a></li>
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">Skirts</a></li>
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">Pants</a></li>
                        <li><a href="@Url.Action("Index", "Category", new { area = "User" })">Accessories</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Where to find us</h4>
                    <p><strong>Obaju Ltd.</strong><br>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p><a href="@Url.Action("Index", "Contact", new { area = "User" })">Go to contact page</a>
                    <hr class="d-block d-md-none">
                </div>
                <!-- /.col-lg-3-->
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3">Get the news</h4>
                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control"><span class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary">Subscribe!</button>
                            </span>
                        </div>
                        <!-- /input-group-->
                    </form>
                    <hr>
                    <h4 class="mb-3">Stay in touch</h4>
                    <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
                </div>
                <!-- /.col-lg-3-->
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
    <!-- JavaScript files-->
    <script src="~/Scripts/Navbar/jquery.min.js"></script>
    <script src="~/Scripts/Navbar/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Navbar/jquery.cookie.js"></script>
    <script src="~/Scripts/Navbar/owl.carousel.min.js"></script>
    <script src="~/Scripts/Navbar/owl.carousel2.thumbs.js"></script>
    <script src="~/Scripts/Navbar/front.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"></script>
    <script src="~/Scripts/Navbar/map.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>