﻿
@{
    ViewBag.Title = "Index";
}

<h4>Danh mục cha</h4>

<div>
    <table id="example" class="display" style="width:100%"></table>
</div>

<!-- Modal -->
<form action="" id="category-parent-form" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="modal-category-parent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="heading lead">Thêm danh mục cha</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <input id="ID" hidden />
                    <div class="row">
                        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="CategoryParentName">Danh mục cha<span class="text-danger">*</span></label>
                                <input id="CategoryParentName" name="CategoryParentName" class="form-control" type="text"
                                       required data-msg-required="Vui lòng nhập tên danh mục cha!">
                            </div>
                        </div>
                        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="CategoryParentType" class="">Loại danh mục cha<span class="text-danger">*</span></label>
                                <select id="CategoryParentType" name="CategoryParentType" class="chosen-select form-control">
                                    <option value="Comestic">Comestic</option>
                                    <option value="Fashion">Fashion</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="Description">Giới thiệu</label>
                                <textarea name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <a type="button" id="submitCategoryParent" class="btn btn-info waves-effect waves-light button-width">
                        <i class="fa fa-save"></i> Lưu
                    </a>
                    <a type="button" class="btn btn-outline-info waves-effect button-width" data-dismiss="modal">
                        <i class="fa fa-window-close"></i> Đóng
                    </a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</form>
<!-- Modal -->

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var table;
    var selected = [];
    var status = true;
    CKEDITOR.replace('Description');

    $(document).ready(function () {
        table = $('#example').DataTable({
            ajax: domain + "api/CategoryParent/GetCategoryParents",
            columns: [
                { title: "ID", data: "ID" },
                { title: "Tên danh mục cha", data: "CategoryParentName" },
                { title: "Loại danh mục cha", data: "CategoryParentType" },
                { title: "Ngày tạo", data: "DateCreate" },
                { title: "Ngày cập nhật", data: "DateUpdate" }
            ],
            dom: '<"toolbar">frtip',
            rowCallback: function (row, data) {
                if ($.inArray(data.name, selected) !== -1) {
                    $(row).addClass('selected');
                }
            }
        });
        $("div.toolbar").html('<button class="button-width" onclick="onAdd()" data-toggle="modal" data-target="#modal-category-parent"><i class="fa fa-plus-circle"></i> Add</button> <button class="button-width" disabled onclick="onUpdate()" id="btn-update"><i class="fa fa-edit"></i> Update</button> <button class="button-width" onclick="onDelete()" disabled id="btn-delete"><i class="fa fa-minus-circle"></i> Delete</button>');

        $('#example tbody').on('click', 'tr', function () {
            var id = table.row(this).data().ID;
            var index = $.inArray(id, selected);

            if (index === -1) {
                selected.push(id);
            } else {
                selected.splice(index, 1);
            }
            $(this).toggleClass('selected');

            if (selected.length == 0) {
                $('#btn-delete').attr('disabled', 'disabled');
                $('#btn-update').attr('disabled', 'disabled');
            } else if (selected.length > 1) {
                $('#btn-delete').removeAttr('disabled', 'disabled');
                $('#btn-update').attr('disabled', 'disabled');
            } else if (selected.length == 1) {
                $('#btn-delete').removeAttr('disabled', 'disabled');
                $('#btn-update').removeAttr('disabled', 'disabled');
            }
        });
    });

    function onAdd() {
        status = true;
    }

    function onUpdate() {
        if (selected.length == 0) {
            alert('Vui lòng chọn danh mục cần cập nhật');
        } else if (selected.length > 1) {
            alert('Vui lòng chỉ chọn 1 danh mục');
        } else if (selected.length == 1) {
            $('#modal-category-parent').modal('show');
            getCategoryParent(selected[0]);
            status = false;
        }
    }

    $('#submitCategoryParent').on('click', function (evt) {
        var valid = $('#category-parent-form').valid();

        if (valid) {
            $('#category-parent-form').submit();
        }
    });

    $('#category-parent-form').submit(function (e) {
        var data = {
            "CategoryParentName": $('#CategoryParentName').val(),
            "CategoryParentType": $('#CategoryParentType').val(),
            "Description": CKEDITOR.instances['Description'].getData(),
            "Status": status,
            "ID": $('#ID').val(),
        };

        var urlAction = domain + "api/CategoryParent/AddorUpdateCategoryParent";
        loading();
        $.ajax({
            url: urlAction,
            type: 'POST',
            dataType: "Json",
            data: JSON.stringify(data),
            enctype: 'multipart/form-data',
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result.result) {
                    table.ajax.reload();
                    selected = [];
                    $('#modal-category-parent').modal('hide');
                    notifySuccess("Lưu danh mục cha thành công");
                } else {
                    notifyError("Lưu danh mục cha thất bại");
                }
                endloading();
            },
            error: function (response) {
                notifyError("Có lỗi xãy ra. Vui lòng liên hệ QTV");
                endloading();
            }
        }).always(function () {
        });
        e.preventDefault();
    });

    function getCategoryParent(ID) {
        loading();
        $.ajax({
            url: domain + "api/CategoryParent/GetCategoryParent?ID=" + ID,
            type: 'GET',
            dataType: "Json",
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result) {
                    $('#ID').val(ID);
                    $('#CategoryParentName').val(result.data.CategoryParentName);
                    $('#CategoryParentType').val(result.data.CategoryParentType);
                    CKEDITOR.instances['Description'].setData(result.data.Description ? result.data.Description : "");
                }
                endloading();
            },
            error: function (response) {
                endloading();
            }
        }).always(function () {
        });
    }

    function onDelete() {
        var IDs = selected.join();
        loading();
        $.ajax({
            url: domain + "api/CategoryParent/RemoveCategoryParents?IDs=" + IDs,
            type: 'POST',
            dataType: "Json",
            data: null,
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result.result) {
                    table.ajax.reload();
                    selected = [];
                    notifySuccess("Xóa danh mục cha thành công");
                } else {
                    notifyError("Xóa danh mục cha thất bại");
                }
                endloading();
            },
            error: function (response) {
                notifyError("Có lỗi xãy ra. Vui lòng liên hệ QTV");
                endloading();
            }
        }).always(function () {
        });
    }
</script>

