﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .img-upload {
        padding: .25rem;
        background-image: url('../../../../Content/img/no-image.svg');
        background-color: #fff;
        border: 1px solid #dee2e6;
        width: 300px;
        border-radius: .25rem;
        height: 200px;
    }
</style>

<h4>Nhà cung cấp</h4>

<div>
    <table id="example" class="display" style="width:100%"></table>
</div>

<!-- Modal -->
<form action="" id="supplier-form" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="heading lead">Thêm nhà cung cấp</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <input id="ID" hidden />
                    <div class="row">
                        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="SupplierName">Danh mục <span class="text-danger">*</span></label>
                                <input id="SupplierName" name="SupplierName" class="form-control" type="text"
                                       required data-msg-required="Vui lòng nhập tên nhà cung cấp!">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="Description">Giới thiệu</label>
                                <textarea name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <a type="button" id="submitSupplier" class="btn btn-info waves-effect waves-light button-width">
                        <i class="fa fa-save"></i> Lưu
                    </a>
                    <a type="button" class="btn btn-outline-info waves-effect button-width" data-dismiss="modal">
                        <i class="fa fa-window-close"></i> Đóng
                    </a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</form>
<!-- Modal -->

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var table;
    var selected = [];
    var status = true;
    CKEDITOR.replace('Description');

    $(document).ready(function () {
        table = $('#example').DataTable({
            ajax: domain + "api/Supplier/GetSuplliers",
            columns: [
                { title: "ID", data: "ID" },
                { title: "Tên nhà cung cấp", data: "SupplierName" },
                { title: "Ngày tạo", data: "DateCreate" },
                { title: "Ngày cập nhật", data: "DateUpdate" }
            ],
            dom: '<"toolbar">frtip',
            rowCallback: function (row, data) {
                if ($.inArray(data.name, selected) !== -1) {
                    $(row).addClass('selected');
                }
            }
        });
        $("div.toolbar").html('<button class="button-width" onclick="onAdd()" data-toggle="modal" data-target="#modal-supplier"><i class="fa fa-plus-circle"></i> Add</button> <button class="button-width" disabled onclick="onUpdate()" id="btn-update"><i class="fa fa-edit"></i> Update</button> <button class="button-width" onclick="onDelete()" disabled id="btn-delete"><i class="fa fa-minus-circle"></i> Delete</button>');

        $('#example tbody').on('click', 'tr', function () {
            var id = table.row(this).data().ID;
            var index = $.inArray(id, selected);

            if (index === -1) {
                selected.push(id);
            } else {
                selected.splice(index, 1);
            }
            $(this).toggleClass('selected');

            if (selected.length == 0) {
                $('#btn-delete').attr('disabled', 'disabled');
                $('#btn-update').attr('disabled', 'disabled');
            } else if (selected.length > 1) {
                $('#btn-delete').removeAttr('disabled', 'disabled');
                $('#btn-update').attr('disabled', 'disabled');
            } else if (selected.length == 1) {
                $('#btn-delete').removeAttr('disabled', 'disabled');
                $('#btn-update').removeAttr('disabled', 'disabled');
            }
        });
    });

    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('ImageUpload');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    function onAdd() {
        status = true;
    }

    function onUpdate() {
        if (selected.length == 0) {
            alert('Vui lòng chọn nhà cung cấp cần cập nhật');
        } else if (selected.length > 1) {
            alert('Vui lòng chỉ chọn 1 nhà cung cấp');
        } else if (selected.length == 1) {
            $('#modal-supplier').modal('show');
            getSupplier(selected[0]);
            status = false;
        }
    }

    $('#submitSupplier').on('click', function (evt) {
        var valid = $('#supplier-form').valid();

        if (valid) {
            $('#supplier-form').submit();
        }
    });

    $('#supplier-form').submit(function (e) {
        var data = {
            "SupplierName": $('#SupplierName').val(),
            "Description": CKEDITOR.instances['Description'].getData(),
            "Status": status,
            "ID": $('#ID').val()
        };

        var urlAction = domain + "api/Supplier/AddorUpdateSupplier";
        loading();
        $.ajax({
            url: urlAction,
            type: 'POST',
            dataType: "Json",
            data: JSON.stringify(data),
            enctype: 'multipart/form-data',
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result.result) {
                    table.ajax.reload();
                    selected = [];
                    $('#btn-delete').attr('disabled', 'disabled');
                    $('#btn-update').attr('disabled', 'disabled');
                    $('#modal-supplier').modal('hide');
                    notifySuccess("Lưu nhà cung cấp thành công");
                } else {
                    notifyError("Lưu nhà cung cấp thấy bại");
                }
                endloading();
            },
            error: function (response) {
                notifyError("Có lỗi xãy ra. Vui lòng liên hệ QTV");
                endloading();
            }
        }).always(function () {
        });
        e.preventDefault();
    });

    function getSupplier(ID) {
        loading();
        $.ajax({
            url: domain + "api/Supplier/GetSupplier?ID=" + ID,
            type: 'GET',
            dataType: "Json",
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result) {
                    $('#ID').val(ID);
                    $('#SupplierName').val(result.data.SupplierName);
                    CKEDITOR.instances['Description'].setData(result.data.Description ? result.data.Description : "");
                }
                endloading();
            },
            error: function (response) {
                endloading();
            }
        }).always(function () {
        });
    }

    function onDelete() {
        var IDs = selected.join();
        loading();
        $.ajax({
            url: domain + "api/Supplier/RemoveSuppliers?IDs=" + IDs,
            type: 'POST',
            dataType: "Json",
            data: null,
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                if (result.result) {
                    table.ajax.reload();
                    selected = [];
                    notifySuccess("Xóa nhà cung cấp thành công");
                } else {
                    notifyError("Xóa nhà cung cấp thất bại");
                }
                endloading();
            },
            error: function (response) {
                notifyError("Có lỗi xãy ra. Vui lòng liên hệ QTV");
                endloading();
            }
        }).always(function () {
        });
    }
</script>

